.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/sculptures_2560x1600.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.header_shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,19,58);
	opacity: 0.8;
	z-index: -100;
}

.header_logo {
	width: auto;
	height: auto;
	margin-top: 100px;
	margin-left: 820px;
}

.header_logo h1 {
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.header_logo span {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #40bbfc;
}

.header_menu {
	margin-top: 60px;
	margin-left: 555px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
}

.header_menu ul {
	width: auto;
	height: auto;

}

.header_menu li {
	float: left;
	margin-right: 30px;
	border-right: 1px solid #fff;
	width: auto;
	padding-right: 30px;
	text-decoration: none;
}

.header_menu li:nth-child(5) {
	width: 120px;
	border: none;
}

.header_menu li a {
	text-decoration: none;
	color: #fff;
}

.header_menu li:after {
	background-color: #40BBFC;
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

.header_menu li:hover:after,
.header_menu li:focus:after {
	width: 100%;
}

.header_welcome {
	color: #fff;
	margin-top: 200px;
	width: auto;
	height: auto;
}

.header_welcome h3 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	margin-left: 670px;
}


.header_welcome h1 {
	text-transform: uppercase;
	font-family: 'Raleway', bold;
	color: #fff;
	font-size: 11em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
	margin-left: 525px;
	margin-top: 30px;
}

.header_welcome p {
	margin-top: 30px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 1px;
	line-height: 40px;
}

.header_button {
	margin-left: 840px;
	margin-top: 100px;
}

.header_button button {
	background-color: #fff;
	opacity: 0.6;
	border: none;
	width: 200px;
	height: 60px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	line-height: 40px;
	color: #000;
	transition: .6s;
	border-radius: 15px;
	border: none;
}

.header_button button:hover {
	background-color: #40bbfc;
	opacity: 1.0;
	color: #fff;
}

.header_button button:active {
	background-color: #8dd6fd;
}

.wrapper {
	height: 670px;
	margin: 100px auto 0;
	position: relative;
	width: 1460px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url(../images/1.png); background-size: contain;}
.slide2 { background-image: url(../images/2.png); background-size: contain; }
.slide3 { background-image: url(../images/3.png); background-size: contain; }
.slide4 { background-image: url(../images/4.png); background-size: contain; }
.slide5 { background-image: url(../images/5.png); background-size: contain; }
.slide6 { background-image: url(../images/6.png); background-size: contain; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
	background: #ddd;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.header_location {
	margin-top: 120px;
	width: auto;
	height: auto;
}
.header_location h3 {
	font-family: 'Raleway', sans-serif;
	color: #40bbfc;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	margin-left: 845px;
}

.email {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	float: left;
	font-size: 1.5em;
	letter-spacing: 3px;
	margin-left: 300px;
	margin-top: 100px;
	font-weight: 300;
}

#form_el {
	margin-top: 10px;
	width: 250px;
	height: 30px;
	border-radius: 15px;
}

#send {
	margin-top: 15px;
	background-color: #40bbfc;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	border: none;
	width: 70px;
	height: 35px;
	border-radius: 15px;
	transition: .5s;
}

#send:hover {
	background-color: #fff;
	color: #000;
}

#reset {
	margin-top: 15px;
	background-color: #40bbfc;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	border: none;
	width: 70px;
	height: 35px;
	border-radius: 15px;
	transition: .5s;
}

#reset:hover {
	background-color: #fff;
	color: #000;
}

#map {
	margin-left: 630px;
	margin-top: 50px;
	width: 1150px;
	height: 600px;
}


.flex-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	align-content: stretch;
	margin-top: 110px;
}

.caption-style-1 {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	line-height: 25px;
}
.caption-style-1 li {
	float: left;
	margin-top: 90px;
	margin-left: 105px;
	margin-right: 145px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.caption-style-1 li:hover .caption {
	opacity: 1;
}
.caption-style-1 img {
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}
.caption-style-1 .caption {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}
.caption-style-1 .blur {
	background-color: rgba(0,0,0,0.65);
	height: 536px;
	width: 387px;
	z-index: 5;
	position: absolute;
}
.caption-style-1 .caption-text h1 {
	text-transform: uppercase;
	font-size: 24px;
	color: #40bbfc;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 3px;
}
.caption-style-1 .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 387px;
	height: 536px;
	text-align: center;
	top: 200px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
}

img.ticket_png {
	margin-left: 350px;
	margin-top: 80px;
	float: left;
}

.siema {
	width: 500px;
	height: 410px;
	margin-top: 250px;
}

.siema_block {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-size: 24px;
	margin-left: 130px;
	text-align: center;
}

.siema_block h1 {
	color: #40bbfc;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 800;
}

.siema_block p {
	margin-top: 15px;
}

textarea {
	width: 250px;
	height: 150px;
	resize: none;
	margin-top: 10px;
	border-radius: 15px;
}

.ticket_buy {
	margin-left: 1100px;
	width: 150px;
	height: 60px;
	margin-top: -100px;
	background-color: #40bbfc;
	border: none;
	border-radius: 15px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fff;
	transition: .5s;
}

.ticket_buy:hover {
	background-color: #fffc;
	color: #000;
}