body {
	font-family: "Raleway", sans-serif;
	position: relative;
}

.section-white {
	background: #fff;
	padding: 80px 0;
}


.section-dark{
	background-color: rgba(0,19,49,1.0);
	padding: 80px 0;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-dark .navbar-toggler {
	border: none;
	color: #44bbfc;
}


.brand {
	color: #44bbfc;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 600;
	transition: .5s;
}

.brand:hover {
	text-decoration: none;
	color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #44bbfc;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.museum-section {
	background-color: rgba(0,0,0, 1.0);
	background-image: url(../images/back1.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.museum-home-title {
	position: relative;
	padding-top: 290px;
	padding-bottom:220px;
}

.museum-home-title h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 2px;
}

.museum-home-title h1 {
	color: #44bbfc;
	font-weight: 800;
	font-size: 10em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
}

.museum-home-title p {
	color: #fff;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-top: 30px;
}

.museum-home-title .btn-lg {
	background-color: #44bbfc;
	border: none;
	margin-top: 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.btn-lg:hover {
	border: none;
	background: linear-gradient(to bottom right, #7a43f2,  #44bbfc);
	text-decoration: none;
	color:  #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

h2.prising {
	color:  #44bbfc;
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

h1.prising-title {
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 15px;
} 

p.prising-text {
	color: #000;
	letter-spacing: 2px;
}

.museum-pricebox{
	text-align: center;
	webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 30px auto;
	width: 90%;
}

.price-top{
	background: linear-gradient(to bottom right, #7a43f2,  #44bbfc); 
	padding: 20px 20px;
	webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 0 0;
} 

.price-top h4{	
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
} 

.price-top h4{	
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 7px;	
} 

.price-top p.price {
	color: #fff;
	font-family: 'Open Sans', sans-serif;	
} 

.price-top p.price span.currency{
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	font-weight: 600;
	vertical-align: top;
	display: inline-block;	
	margin-bottom: 5px;
}

.price-top p.price span.number{
	color: #fff;
	font-size: 38px;
	line-height: 38px;
	font-weight: 700;
	margin-right: 7px;	
}

.price-bottom{
	padding: 30px 25px;
	background: rgba(0,19,47,1.0);	
	border: 2px solid #f8f8f8;
}

.price-bottom ul{
	text-align: left;
	color:rgba(255,255,255,.7);
}

.price-bottom ul li{
	font-size: 15px;
	line-height: 30px;
	font-weight: 600;

	padding: 5px 0;
	text-transform: uppercase;
}

.price-bottom ul li.last{
	border-bottom: none;
}

.price-bottom ul li i{
	margin-right: 15px;
}

.price-bottom ul li i.fa-check{
	color: #66b16d;
}

.price-bottom ul li i.fa-times{
	color: #f0644b;
}

.price-bottom a.btn-price{
	background: #44bbfc;
	padding: 10px 20px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-border-radius: 25px 25px;
	-moz-border-radius: 25px 25px;
	border-radius: 25px 25px;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
}

.price-bottom a.btn-price:hover{
	background: linear-gradient(to bottom right, #7a43f2,  #44bbfc);
	text-decoration: none;
}

.card {
	margin-top: 50px;
}

.card-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

.card-body {
	background: linear-gradient(to bottom right, #7a43f2,  #44bbfc);
	color: #fff;
}

.blur {
	background: linear-gradient(to bottom right, #7a43f2,  #44bbfc);
	z-index: 5;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	color: #fff;
	padding-top: 160px;
	padding-left: 5px;
	padding-right: 5px;
}

.blur:hover {
	opacity: 1;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}


.form-control {
	margin-top: 30px;
	background-color: #3b3f47;
	border: none;
	color: #fff;
}

.footer {
	background-color: #0e0f15;
	padding: 40px 0;
	color: #3b3f47;
}

.museum-footerbox{
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.museum-footerbox i{
	font-size: 20px;
	line-height: 28px;
	color: #3b3f47;
	margin-right: 7px;
	display: inline;
}

.museum-footerbox p{
	color: #3b3f47;
	font-size: 13px;
	line-height: 28px;
	border-right: 1px solid #3b3f47;
	padding-right: 10px;
	margin-right: 10px;
	display: inline;

}

.museum-copyright{
	text-align: center;	
	color: #3b3f47;
	margin-top: 40px;
}

.museum-copyright a{
	color: #6376f7;
	text-decoration: none;
}

@media (max-width: 480px) {
	.museum-home-title h1 {
		font-size: 5em;

	}

	.museum-home-title {
		padding-top: 145px;
	}
}


@media (max-width: 375px) {
	.museum-home-title h1 {
		font-size: 4em;
	}

	.museum-home-title p {
		font-size: 1.7em;
	}

	.museum-home-title {
		padding-top: 150px;
	}
}


@media (max-width: 414px) {
	.museum-home-title {
		padding-top: 100px;
	}
}

@media (max-width: 360px) {
	
	.museum-home-title h1 {
		font-size: 3em;

	}

	.museum-home-title h3 {
		font-size: 2em;

	}

	.museum-home-title p {
		font-size: 1.3em;

	}
}

@media (max-width: 320px) {
	
	.museum-home-title h1 {
		font-size: 3em;

	}

	.museum-home-title h3 {
		font-size: 2em;

	}

	.museum-home-title p {
		font-size: 1.1em;

	}
}

@media (max-width: 768px) {
	
	.museum-home-title h1 {
		font-size: 8em;

	}

	.museum-home-title h3 {
		font-size: 4em;

	}

	.museum-home-title p {
		font-size: 1.5em;

	}
}

@media (max-width: 650px) {
	
	.museum-home-title h1 {
		font-size: 6em;

	}

	.museum-home-title h3 {
		font-size: 3em;

	}

	.museum-home-title p {
		font-size: 1.5em;

	}
}

@media (max-width: 450px) {
	
	.museum-home-title h1 {
		font-size: 4em;

	}

	.museum-home-title h3 {
		font-size: 2em;

	}

	.museum-home-title p {
		font-size: 1.3em;

	}
}

@media (max-width: 315px) {
	
	.museum-home-title h1 {
		font-size: 3em;

	}

	.museum-home-title h3 {
		font-size: 2em;

	}

	.museum-home-title p {
		font-size: 1em;

	}
}


@media (max-width: 675px) {
	
	.museum-home-title h1 {
		font-size: 3.5em;

	}

	.museum-home-title h3 {
		font-size: 2.5em;

	}

	.museum-home-title p {
		font-size: 1em;

	}
}
